    # Q1. List any five functions of the pandas library with execution.

In [4]:
import pandas as pd

# Creating a dictionary of data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Gender': ['Female', 'Male', 'Male', 'Male']
}

# Creating a data frame from the dictionary
df = pd.DataFrame(data)

# Displaying the data frame
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male
3    David   40    Male

In [9]:
# for five read
df.head(5)

# 3.deascribe
df.describe()

# 4. calcluate the na
df.isnull().sum()

# 5 dropna
df.dropna()

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male
3    David   40    Male

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [10]:
import pandas as pd

def reindex_dataframe(df):
    # Create a new index that starts from 1 and increments by 2 for each row
    new_index = range(1, 2 * len(df) + 1, 2)
    # Assign the new index to the DataFrame
    df.index = new_index
    return df

# Sample DataFrame
data = {
    'A': [10, 20, 30],
    'B': [40, 50, 60],
    'C': [70, 80, 90]
}
df = pd.DataFrame(data)

# Re-index the DataFrame
reindexed_df = reindex_dataframe(df)
print(reindexed_df)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [11]:
import pandas as pd

def sum_first_three_values(df):
    # Ensure there are at least three values in the 'Values' column
    if len(df['Values']) >= 3:
        # Select the first three values from the 'Values' column
        first_three_values = df['Values'].iloc[:3]
        # Calculate the sum of the first three values
        sum_values = first_three_values.sum()
        # Print the sum to the console
        print("Sum of the first three values:", sum_values)
    else:
        print("The DataFrame does not have at least three values in the 'Values' column.")

# Sample DataFrame
data = {
    'Values': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)

# Calculate and print the sum of the first three values
sum_first_three_values(df)

Sum of the first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [13]:
import pandas as pd

def add_word_count_column(df):
    # Define a function to count the number of words in a text string
    def count_words(text):
        if pd.isna(text):
            return 0
        return len(text.split())

    # Apply the count_words function to each row in the 'Text' column
    df['Word_Count'] = df['Text'].apply(count_words)

    return df

# Sample DataFrame
data = {
    'Text': ['This is a sample text', 'Another example', 'Pandas is great for data manipulation', '']
}
df = pd.DataFrame(data)

# Add the 'Word_Count' column
df = add_word_count_column(df)

# Display the DataFrame
print(df)

                                    Text  Word_Count
0                  This is a sample text           5
1                        Another example           2
2  Pandas is great for data manipulation           6
3                                                  0

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [14]:
import pandas as pd

# Create a sample DataFrame
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}
df = pd.DataFrame(data)

# Get the size of the DataFrame
df_size = df.size

# Get the shape of the DataFrame
df_shape = df.shape

print("DataFrame size:", df_size)  # Output: 12
print("DataFrame shape:", df_shape)  # Output: (4, 3)

DataFrame size: 12
DataFrame shape: (4, 3)

Q6. Which function of pandas do we use to read an excel file?

In [17]:
# pd.read_excel() function are used to read csv file

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [18]:
import pandas as pd

# Sample DataFrame
data = {
    'Email': ['john.doe@example.com', 'jane.smith@domain.com', 'alice.bob@website.com']
}
df = pd.DataFrame(data)

# Function to create 'Username' column
def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

# Apply the function to the DataFrame
df = extract_username(df)

# Display the updated DataFrame
print(df)

                   Email    Username
0   john.doe@example.com    john.doe
1  jane.smith@domain.com  jane.smith
2  alice.bob@website.com   alice.bob

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

In [19]:
import pandas as pd

# Sample DataFrame
data = {
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
}
df = pd.DataFrame(data)

# Function to select rows based on conditions
def select_rows(df):
    new_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return new_df

# Apply the function to the DataFrame
filtered_df = select_rows(df)

# Display the new DataFrame
print(filtered_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [20]:
import pandas as pd

# Sample DataFrame
data = {
    'Values': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
}
df = pd.DataFrame(data)

# Function to calculate mean, median, and standard deviation
def calculate_statistics(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_dev_value = df['Values'].std()
    
    return mean_value, median_value, std_dev_value

# Apply the function to the DataFrame
mean, median, std_dev = calculate_statistics(df)

# Display the results
print(f"Mean: {mean}")
print(f"Median: {median}")
print(f"Standard Deviation: {std_dev}")

Mean: 55.0
Median: 55.0
Standard Deviation: 30.276503540974915

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [21]:
import pandas as pd

# Sample DataFrame
data = {
    'Date': pd.date_range(start='2023-01-01', periods=30),
    'Sales': [100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 
              750, 800, 850, 900, 950, 1000, 1050, 1100, 1150, 1200, 1250, 
              1300, 1350, 1400, 1450, 1500, 1550]
}
df = pd.DataFrame(data)

# Function to calculate moving average
def calculate_moving_average(df, window_size=7):
    # Sort DataFrame by date
    df_sorted = df.sort_values(by='Date')
    # Calculate moving average
    df_sorted['MovingAverage'] = df_sorted['Sales'].rolling(window=window_size, min_periods=1).mean()
    return df_sorted

# Apply the function to the DataFrame
df_with_moving_average = calculate_moving_average(df)

# Display the DataFrame with the moving average
print(df_with_moving_average)

         Date  Sales  MovingAverage
0  2023-01-01    100          100.0
1  2023-01-02    150          125.0
2  2023-01-03    200          150.0
3  2023-01-04    250          175.0
4  2023-01-05    300          200.0
5  2023-01-06    350          225.0
6  2023-01-07    400          250.0
7  2023-01-08    450          300.0
8  2023-01-09    500          350.0
9  2023-01-10    550          400.0
10 2023-01-11    600          450.0
11 2023-01-12    650          500.0
12 2023-01-13    700          550.0
13 2023-01-14    750          600.0
14 2023-01-15    800          650.0
15 2023-01-16    850          700.0
16 2023-01-17    900          750.0
17 2023-01-18    950          800.0
18 2023-01-19   1000          850.0
19 2023-01-20   1050          900.0
20 2023-01-21   1100          950.0
21 2023-01-22   1150         1000.0
22 2023-01-23   1200         1050.0
23 2023-01-24   1250         1100.0
24 2023-01-25   1300         1150.0
25 2023-01-26   1350         1200.0
26 2023-01-27   1400         1250.0
27 2023-01-28   1450         1300.0
28 2023-01-29   1500         1350.0
29 2023-01-30   1550         1400.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:

Date
0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

The function should return the modified DataFrame.

In [22]:
import pandas as pd

# Sample DataFrame
data = {
    'Date': pd.date_range(start='2023-01-01', periods=5)
}
df = pd.DataFrame(data)

# Function to add weekday column
def add_weekday_column(df):
    # Convert 'Date' column to datetime type if not already
    df['Date'] = pd.to_datetime(df['Date'])
    # Add 'Weekday' column
    df['Weekday'] = df['Date'].dt.day_name()
    return df

# Apply the function to the DataFrame
df_with_weekday = add_weekday_column(df)

# Display the modified DataFrame
print(df_with_weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [24]:
import pandas as pd

# Sample DataFrame
data = {
    'Date': pd.date_range(start='2023-01-01', end='2023-02-28'),
    'Values': range(1, 60)
}
df = pd.DataFrame(data)

# Function to select rows between specified dates
def select_rows_between_dates(df, start_date, end_date):
    # Convert 'Date' column to datetime type if not already
    df['Date'] = pd.to_datetime(df['Date'])
    # Select rows where date is between start_date and end_date
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    return selected_rows

# Call the function to select rows between '2023-01-01' and '2023-01-31'
selected_rows = select_rows_between_dates(df, '2023-01-01', '2023-01-31')

# Display the selected rows
print(selected_rows)

         Date  Values
0  2023-01-01       1
1  2023-01-02       2
2  2023-01-03       3
3  2023-01-04       4
4  2023-01-05       5
5  2023-01-06       6
6  2023-01-07       7
7  2023-01-08       8
8  2023-01-09       9
9  2023-01-10      10
10 2023-01-11      11
11 2023-01-12      12
12 2023-01-13      13
13 2023-01-14      14
14 2023-01-15      15
15 2023-01-16      16
16 2023-01-17      17
17 2023-01-18      18
18 2023-01-19      19
19 2023-01-20      20
20 2023-01-21      21
21 2023-01-22      22
22 2023-01-23      23
23 2023-01-24      24
24 2023-01-25      25
25 2023-01-26      26
26 2023-01-27      27
27 2023-01-28      28
28 2023-01-29      29
29 2023-01-30      30
30 2023-01-31      31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?